@model Event

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Event</h4>
    <hr />
    @await Html.PartialAsync("_PartialDeleteDetails", Model) 
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EventId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <button asp-action="Index" class="btn btn-primary">Back</button>
    </form>
</div>
