@model Event

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Event</h4>
    <hr />
    @await Html.PartialAsync("_PartialDeleteDetails", Model) 
</div>

<div class="row">
    <div class="col-sm-1">
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model?.EventId">Edit</a>
    </div> |
    <div class="col-sm-1">
        <a asp-action="Index" class="btn btn-primary">Back</a>
    </div>
</div>
