@model Event

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Edit";
    ViewBag.EventId = Model.EventId;
    
}

<h1>Edit</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @await Html.PartialAsync("_PartialEvent", Model)  
            <input type="hidden" asp-for="EventId"/>
        </form>
    </div>
</div>

@* 
Make it possible for a user to post a comment on this event
 *@
<br>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
